<div class="form" id="ext-content">
    <h1>MEAN stack file upload example</h1>
    <p class="success">Previous file upload success</p>
    <div class="form-control">{{textStr}}</div>

    <br /> <br />

    <svg width="480" height="500"></svg>

    <br /> <br />

    <div class="form-group">
        <h3>Upload a new file here:</h3>
        <label for="fileName">
            File Name
        </label>
        <input name="fileName"
               id="fileName"
               ng-model="upload.fileName"
               class="form-control"
               required/>
        <br/>
    </div>
    <form action="/api/upload"
          method="post"
          enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file"
               name="file"
               id="file"
               ng-model="upload.file"
               ngf-select
               ngf-max-size="25MB"
               class="form-control"
               required/>
        <br/>
        <input name="fileName"
               value="{{upload.fileName}}"
               style="display: none"/>
        <input type="submit" value="Submit" class="form-control"/>
    </form>
</div>
