<div class="form" id="ext-content">
    <h1>MEAN stack file upload example</h1>
    <p class="success">Previous file upload success</p>
    <div class="form-control">{{textStr}}</div>

    <br/> <br/>

    <svg id="chart" width="960" height="500"></svg>

    <br/> <br/>

    <div class="container">

        <div class="floatLeft">
            <label>Table Data: </label>
            <table>
                <tr ng-repeat="x in datas">
                    <!--<td>{{ x.RN }}</td>-->
                    <!--<td>{{ x.mV }}</td>-->
                    <td hide="true">{{ x.RN }}</td>
                    <td hide="true">{{ x.mV }}</td>
                    <td>{{ x.TS }}</td>
                    <td>{{ x.Bar }}</td>
                </tr>
            </table>
        </div>

        <div class="floatRight">
            <div class="form-group">
                <h3>Upload a new file here:</h3>
                <label for="fileName">
                    File Name
                </label>
                <input name="fileName"
                       id="fileName"
                       ng-model="upload.fileName"
                       class="form-control"
                       required/>
                <br/>
            </div>
            <form action="/api/upload"
                  method="post"
                  enctype="multipart/form-data">
                <label for="file">File:</label>
                <input type="file"
                       name="file"
                       id="file"
                       ng-model="upload.file"
                       ngf-select
                       ngf-max-size="25MB"
                       class="form-control"
                       required/>
                <br/>
                <input name="fileName"
                       value="{{upload.fileName}}"
                       style="display: none"/>
                <input type="submit" value="Submit" class="form-control"/>
            </form>
        </div>

    </div>

    <!--<div class="container">
        <div class="floatLeft">
            <svg width="960" height="500"></svg>
        </div>

        <div class="floatRight">
            <label>Table Data: </label>
            <table>
                <tr ng-repeat="x in datas">
                    &lt;!&ndash;<td>{{ x.RN }}</td>&ndash;&gt;
                    &lt;!&ndash;<td>{{ x.mV }}</td>&ndash;&gt;
                    <td hide="true">{{ x.RN }}</td>
                    <td hide="true">{{ x.mV }}</td>
                    <td>{{ x.TS }}</td>
                    <td>{{ x.Bar }}</td>
                </tr>
            </table>
        </div>
    </div>-->

    <!--<br/> <br/>

    <div class="form-group">
    <h3>Upload a new file here:</h3>
    <label for="fileName">
        File Name
    </label>
    <input name="fileName"
           id="fileName"
           ng-model="upload.fileName"
           class="form-control"
           required/>
    <br/>
</div>
    <form action="/api/upload"
          method="post"
          enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file"
               name="file"
               id="file"
               ng-model="upload.file"
               ngf-select
               ngf-max-size="25MB"
               class="form-control"
               required/>
        <br/>
        <input name="fileName"
               value="{{upload.fileName}}"
               style="display: none"/>
        <input type="submit" value="Submit" class="form-control"/>
    </form>-->
</div>
